.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  z-index: -10;
}

h1 {
    font-family: Lalezar;
    text-align: center;
    color: #E3E3E3;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: #456882 2px 3px 30px;
    padding-top: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

hr.solid {
  border: 2px solid #E3E3E3;
  margin-top: -30px;
}

#navbar {
  background-color: #1B3C53;
  position: sticky;
  top: 0;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

#navbara {
  display: flex;
  justify-content: center;
  gap: 260px;
  align-items: center;
  padding: 10px 15px;
} 

.button-style {
  text-decoration: none;
}

#dashboard:hover, #messages:hover, #home:hover, #appointment:hover, #menu:hover  {
  color: #E3E3E3;
  font-size: 35px;
  animation: jello-vertical 0.7s;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

#dashboard {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 25px;
  cursor: pointer;
    transition:
    font-size 0.1s ease,
    color 0.1s ease,
    transform 0.1s ease;
}

#messages {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 25px;
  cursor: pointer;
    transition:
    font-size 0.1s ease,
    color 0.1s ease,
    transform 0.1s ease;
}

#home {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 25px;
  cursor: pointer;
    transition:
    font-size 0.1s ease,
    color 0.1s ease,
    transform 0.1s ease;
}

#appointment {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 25px;
  cursor: pointer;
    transition:
    font-size 0.1s ease,
    color 0.1s ease,
    transform 0.1s ease;
}

#menu {
  background-color: transparent;
  border: none;
  color: #E3E3E3;
  font-size: 25px;
  cursor: pointer;
    transition:
    font-size 0.1s ease,
    color 0.1s ease,
    transform 0.1s ease;
}

#appoint {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.appointment-form {
  background-color: #E3E3E3;
  padding: 40px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 40px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-right {
  justify-content: space-between;
}

.form-group input,
.form-group textarea {
  height: 40px;
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1B3C53;
  color: #E3E3E3;
}

label {
  color: #1B3C53;
  font-size: 24px;
  font-weight: 600;
}

#patient_name {
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

#pet_name {
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

#specie_type {
  height: 40px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

#concern {
  height: 200px;
  border: none;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px ;
  padding: 5px;
  background-color: #1B3C53;
  color: #E3E3E3;
}

textarea {
  height: 140px;
  resize: none;
}

input[type = "text"],
input[type = "date"],
textarea {
  width: 100%;
  box-sizing: border-box;
}

#payment {
  border: none;
  border-radius: 75px;
  box-sizing: border-box;
  outline: none;
  font-size: 23px;
  width: 170px;
  height: 55px;
  color: #E3E3E3;
  font-weight: 800;
  background: linear-gradient(180deg, #456882 0%, #234C6A 50%, #1B3C53 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #456882;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#payment:hover {
 color: #E3E3E3;
 background-color: #1B3C53;
 box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
 transform: translateY(-2px);
}