.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  z-index: -10;
}

h1 {
    font-family: Lalezar;
    text-align: center;
    color: #E3E3E3;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: #456882 2px 3px 30px;
    padding-top: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#navbar {
  background-color: #1B3C53;
  position: sticky;
  top: 0;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

#back {
    background-color: transparent;
    color: #1B3C53;
    border-style: none;
    font-size: 50px;
    font-weight: 900;
    margin-left: 5%;
    position: fixed;
    margin-top: 1px;
    left: 10%;
    cursor: pointer;
}

#call {
    background-color: transparent;
    color: #1B3C53;
    border-style: none;
    font-size: 50px;
    font-weight: 700;
    position: fixed;
    margin-top: 1px;
    right: 10%;
    cursor: pointer;
}

#convo {
  background-color: #E3E3E3;
  color: #1B3C53;
  height: 45px;
  width: 900px;
  border-radius: 75px;
  box-shadow: 0 8px 16px 0 #456882;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 5px;
  border: 1px solid #2E2F3A;
  font-family: monospace;
}

#convo:focus {
  fill: #1B3C53;
}