body {
  background-color: black;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 95px;
  color: #1B3C53;
  text-shadow: #E3E3E3 2px 2px 2px;
  font-family: Lalezar;
  text-transform: uppercase;
  margin-top: 70px;
}

.radiob {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 25px;
  height: 50px;
  width: 400px;
  overflow: hidden;
  font-family: verdana;
}

.radiob input {
  display: none;
}

.radiob label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 15px;
}

.radiob .bgbutton {
  position: absolute;
  width: 49%;
  height: 38px;
  background-color: #E3E3E3;
  top: 4px;
  left: 4px;
  border-radius: 30px;
  transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#register:checked ~ .bgbutton {
  left: 50%;
}
#login:checked + label[for = "login"] {
  color: #1B3C53;
  font-family: verdana;
  font-weight: bold;
}

#register:checked + label[for = "register"] {
  color: #1B3C53;
  font-family: verdana;
  font-weight: bold;
}

#login:not(:checked) + label[for = "login"],
#register:not(:checked) + label[for = "register"] {
  color: #E3E3E3;
  font-weight: bold;
}

.container {
  max-width: 550px;
  background: #E3E3E3;
  background: radial-gradient(125% 125% at 50% 10%, #1B3C53 25%, #E3E3E3 100%);
  border-radius: 25px;
  padding: 25px 35px;
  border: 5px solid radial-gradient(125% 125% at 50% 10%, #E3E3E3 20%, #1B3C53 100%);
  box-shadow: #456882 5px 25px 25px -15px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 20px;
}

.form .input {
  font-family: monospace;
  color: #1B3C53;
  width: 75%;
  background: #E3E3E3;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: #456882 0px 5px 5px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  font-family: monospace;
  color: #456882;
  opacity: 0.5;
}

.form .input::placeholder {
  font-family: monospace;
  color: #456882;
  opacity: 0.5;
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #1B3C53;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 10px;
  color: #1B3C53;
  font-family: monospace;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 90%;
  font-weight: bold;
  background: linear-gradient(45deg, #1B3C53 0%, #234C6A 100%);
  color: #E3E3E3;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: #456882 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: #456882 0px 23px 10px -20px;
  cursor: pointer;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: #456882 0px 15px 10px -10px;
}